html {
  scroll-behavior: smooth;
}

body {
  padding: 64px;
}

.navbar {
  font-size: 15px;
}

.navbar img {
  max-width: 150px;
  height: auto;
}

.applynow_home {
  margin: 0px 15px 15px 15px;
}

.applynow_home a {
  margin: 15px;
  padding: 10px;
  border: 5px;
  font-size: 15px;
  color: #ff9e1b;
}

.card_style_1_con {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.jumbotron {
  /* background: url("./img/works_header_img.jpg") no-repeat center; */
  background-size: cover;
  width: 100%;
  height: auto;
  color: white;
}

.jumbotron h1 {
  font-style: italic;
  font-weight: bold;
  /* font-size : 7vw; */
}

/* #Our_Services {
  font-weight: bold;
} */

/* .services {
  display: flex;
  justify-content: flex-start;
} */

/* @media (min-width: 767) and (max-width: 991) {
  .services {
    min-width: 508px;
  }
} */

@media screen and (max-width: 480px) {
  header.jumbotron h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 480px) {
  header.jumbotron h1 {
    font-size: 7vw;
  }
}

/* #Our_Services */

@media screen and (min-width: 480px) {
  header.jumbotron h1 {
    font-size: 7vw;
  }
}

/* #Our_Services */

@media screen and (max-width: 400px) {
  header.jumbotron p.lead {
    font-size: 3vmax;
  }
}

@media screen and (min-width: 400px) {
  header.jumbotron p.lead {
    font-size: 3vmax;
  }
}

#alumni_content img:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

.card-img-top {
  /* background-image: cover; */
  max-height: 350px;
  width: auto;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 400px) {
  .card_title {
    font-size: 3vh;
  }
}

@media screen and (min-width: 400px) {
  .card_title {
    font-size: 3vh;
  }
}

@media screen and (max-width: 400px) {
  .card-text {
    font-size: 2.5vmax;
  }
}

@media screen and (min-width: 400px) {
  .card_text {
    font-size: 2.5vmax;
  }
}

#alumni_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 1600px) {
  #alumni_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  #alumni_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1100px) {
  #alumni_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  #alumni_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 495px) {
  #alumni_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  #alumni_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* .card-img {
  background-size: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
} */

/* .instagram {
  width: 100px;
  height: 100px;
  background: #f09433;
  color: #fff;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
} */

.sns {
  padding-bottom: 20px;
}

.sns i {
  padding: 1px;
  margin: 10px;
}

.instagram {
  display: inline-block;
  /* width: 250px;
  height: 250px;
  text-align: center; */
  border-radius: 10px;
  color: #fff;
  /* font-size: 220px;
  line-height: 250px;
  vertical-align: middle; */
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #f6921e;
  border-color: #f6921e;
}

.btn-secondary {
  background-color: transparent;
  background-color: #f6921e;
  border-color: #f6921e;
}

.card-img-top {
  height: 60%;
}
